@charset "utf-8";

:root{
  --main-font : "Inter", sans-serif;
  --sub-font :  "Pacifico", cursive;
  --main-color : #5D5D5D;
  --sub-color : #808080;
  --base-color : #6BD7FF;
}

html{font-size: 10px;}
*{margin: 0; padding: 0; box-sizing: border-box; font-family: "Roboto", sans-serif;}
table{border-collapse: collapse; width: 100%;}
ol, ul{list-style: none;}
a{text-decoration: none; color: #000;}
address, em{font-style: normal;}
caption , legend{display: none;}
select, input, fieldset, button{border: 0; outline: none; vertical-align: top;}
img{vertical-align: top; border: 0;}